*,
html {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Times New Roman', Times, serif !important;
  height: 100%;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: #121212;
}

p {
  font-size: 1rem;
  /* margin-bottom: 0.5rem; */
  color: #313131;
}

/* ****************************************************
                          CONTENEDOR
  ******************************************************/
.container {
  background: url("https://subtlepatterns.com/patterns/ricepaper.png");
  min-height: 100%;
  overflow: auto;
  width: 80%;
}

/* ENLACES */
a {
  /* color: #fff; */
  color: #121212;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-style: normal;
  letter-spacing: 1.2px;
  position: relative;
}

.left a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7f56dd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.left a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.val {
  font-size: 1.2rem;
  padding-left: 0;
  font-weight: 530;
}

/* **************************************************
          BARRA DE NAVEGACION Y MENU NORMAL
  ****************************************************/
/* Barra de navegacion (contiene al nav mini menu) */
.navbar-menu {
  box-shadow: #313131;
  padding: 0.5rem auto;
  width: calc(100%);
  display: flex;
  justify-content: center;
}

.menu {
  width: 80%;
}

/* Menu */
.navbar-menu .menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* List items*/
.navbar-menu .menu li {
  display: inline-block;
}

.left li {
  border-bottom: #1c1c1c solid 1px;
  padding-top: 0.2rem;
}

.title {
  padding-top: 0.2rem;
}

.roles {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header {
  padding: 1rem 3rem 0 3rem;
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 0rem 3rem 0 3rem;
  width: 80%;
  margin: 0 auto;
}

.roles p {
  width: 95%;
  text-align: justify;
  /* margin-bottom: 1rem; */
}

.roles img {
  margin-right: 9%;
}

.createbtn {
  font-size: 0.8rem !important;
  padding: 0.5rem;
  width: fit-content;
  text-align: center;
  align-self: center;
}

button,
.createbtn {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  font-size: 0.5rem;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg, #1c1c1c, #6220fb);
  border: 0 solid;
  overflow: hidden;
}

button:hover,
.createbtn:hover {
  cursor: pointer;
  /* transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px; */
}

h3 {
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.1rem;
}


/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-cent {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

.form label {
  position: relative;
  width: 47%;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid+span {
  color: green;
}


@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.stdtxt {
  text-align: center;
  margin: 0.2rem 0;
}

#user {
  color: #6220fb;
  text-transform: uppercase;
}

#ownerID {
  color: #d05f03;
  text-transform: uppercase;
}